# T-{{.Number}} · {{.Type}}: {{.Title}}

{{.StatusLine}}
{{.PriorityLine}}
{{.CreatedLine}}
{{.ProjectLine}}

{{.HeaderSummary}}
{{.Title}}

{{.HeaderDetails}}
{{if .Details}}{{.Details}}{{else}}{{.Stub}}{{end}}

{{.HeaderUserComments}}
{{.UserCommentsStub}}

{{.HeaderComments}}

{{.HeaderJournal}}
{{.JournalCreation}}
